/****************************************************************************


etch.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "etchrc.h"

I_ETCH ICON 
{
'00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
'00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
'00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
'00 00 80 00 80 00 80 80 00 00 C0 C0 C0 00 80 80'
'80 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
'00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 00 00'
'00 00 0B B0 00 00 BB BB BB BB 00 00 00 00 00 00'
'00 00 0B BB 00 00 BB 00 00 0B 00 00 00 00 00 00'
'00 00 00 BB B0 00 0B B0 00 00 00 00 00 00 00 00'
'00 00 00 BB BB 00 00 BB B0 00 00 00 00 00 00 00'
'00 00 00 0B 0B 00 0B B0 00 00 00 00 00 00 00 00'
'00 00 00 0B 00 B0 00 B0 00 00 00 00 00 00 00 00'
'00 00 0B BB 00 BB 00 BB 0B B0 00 00 00 00 00 00'
'00 00 0B B0 00 0B B0 0B BB B0 00 00 00 00 99 99'
'99 99 99 99 99 99 99 99 99 99 99 99 99 99 99 99'
'9F 99 99 99 99 99 99 99 99 99 99 F9 99 99 99 99'
'FF F9 99 99 99 99 99 99 99 99 9F FF 99 99 99 99'
'9F 99 99 99 99 99 99 99 99 99 99 F9 99 99 99 99'
'99 99 99 99 99 99 99 99 99 99 99 99 99 99 99 97'
'77 77 77 77 77 77 77 77 77 77 77 77 79 99 99 97'
'7F FF FF FF FF FF 77 77 77 77 77 77 79 99 99 97'
'7F 77 77 77 77 7F FF 77 FF FF FF F7 79 99 99 97'
'FF 77 FF FF FF 77 7F F7 F7 77 7F F7 79 99 99 97'
'77 77 F7 77 77 F7 77 FF F7 77 FF 77 79 99 99 97'
'77 77 F7 77 77 F7 77 7F 77 7F F7 77 79 99 99 97'
'77 77 FF 7F 77 F7 77 77 77 77 FF 77 79 99 99 97'
'FF 77 7F 7F 7F F7 77 7F 77 77 7F F7 79 99 99 97'
'7F FF 7F 7F 7F 77 7F FF F7 77 77 F7 79 99 99 97'
'77 7F FF 7F 7F F7 FF 77 FF F7 7F F7 79 99 99 97'
'77 77 77 FF 77 FF F7 7F 77 FF F7 77 79 99 99 97'
'77 77 FF F7 77 77 77 FF F7 77 77 77 79 99 99 97'
'77 77 77 77 77 77 77 F7 77 77 77 77 79 99 99 99'
'99 99 99 99 99 99 99 99 99 99 99 99 99 99 99 99'
'B9 BB 9B BB B9 BB BB 9B 9B BB B9 BB 99 99 99 99'
'99 99 99 99 99 99 99 99 99 99 99 99 99 99 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 FF 9F'
'00 FF FF 8F 3E FF FF C7 9F FF FF C3 C7 FF FF EB'
'9F FF FF ED DF FF FF 8C C9 FF FF 9E 61 FF 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 07 FF 00 00 04 01 CF E0 0C FC'
'68 60 00 82 38 C0 00 82 11 80 00 D2 00 C0 0C 56'
'10 60 07 54 78 20 01 D6 CE 60 00 33 93 80 00 E0'
'38 00 00 00 20 00 00 00 00 00 00 00 00 00 00 00'
'00 00 FF FF FF FF FF FF FF FF FF FF FF FF'
}




EtchMenu MENU 
{
 POPUP "&File"
 {
  MENUITEM "&New\aF2", CM_FILENEW, MENUBREAK
  MENUITEM "&Open...\aCtrl-O", CM_FILEOPEN
  MENUITEM "&Save\aCtrl-S", CM_FILESAVE
  MENUITEM "Save &As...\aCtrl-A", CM_FILESAVEAS
  MENUITEM SEPARATOR
  MENUITEM "E&xit\aAlt-F4", CM_FILEEXIT
 }

 MENUITEM SEPARATOR
 POPUP "&Options"
 {
  MENUITEM "&Center on New", CM_OPTCENTER, CHECKED
  MENUITEM "&Shake on New", CM_OPTSHAKE, CHECKED
  MENUITEM "&Flash Cursor\aF5", CM_OPTFLASH
  MENUITEM SEPARATOR
  MENUITEM "&Refresh\aF4", CM_OPTREF
  MENUITEM "&Undo\aCtrl-Z", CM_OPTUNDO
 }

 MENUITEM SEPARATOR
 POPUP "&Network"
 {
  MENUITEM "Display &IP Address", CM_NETSHOW
  MENUITEM "&Add Node to Workgroup\aIns", CM_NETADD
  MENUITEM "&Remove Node from Workgroup\aDel", CM_NETDEL
 }

 POPUP "\a&Help", HELP
 {
  MENUITEM "&Contents\aF1", CM_HELPCONTENTS
  MENUITEM SEPARATOR
  MENUITEM "&About...", CM_HELPABOUT
 }

}



ETCH_DLGABOUT DIALOG 6, 15, 239, 111
EXSTYLE WS_EX_NOPARENTNOTIFY | WS_EX_TOPMOST | WS_EX_CONTROLPARENT | WS_EX_MDICHILD
STYLE DS_ABSALIGN | DS_SYSMODAL | DS_NOIDLEMSG | DS_NOFAILCREATE | DS_CENTER | DS_CENTERMOUSE | 0x200L | WS_POPUP | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_THICKFRAME
CLASS ""
CAPTION "About the Virtual Etch-A-Sketch"
FONT 10, "Times New Roman"
{
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 95, 92, 50, 14
 CONTROL "I_ETCH", -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 110, 6, 18, 20
 CONTROL "The Virtual Etch-A-Sketch for Microsoft Windows'95, version 1.02", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 35, 230, 10
 CONTROL "by John Colagioia, Copyright 1995-2000, Any Rights Reserved", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 45, 230, 10
 CONTROL "Any similarities to children's toys, living or dead,", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 55, 230, 10
 CONTROL "is purely coincidental--including the Etch-A-Sketch.  Humor me.", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 65, 230, 10
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 19, 27, 201, 1
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 21, 77, 197, 1
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 36, 81, 167, 1
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 59, 85, 121, 1
}

EtchMenu ACCELERATORS 
{
 VK_F2, CM_FILENEW, VIRTKEY
 VK_F4, CM_FILEEXIT, ALT, VIRTKEY
 "S", CM_FILESAVE, CONTROL, VIRTKEY
 "O", CM_FILEOPEN, CONTROL, VIRTKEY
 VK_F4, CM_OPTREF, VIRTKEY
 VK_F1, CM_HELPCONTENTS, VIRTKEY
 VK_F5, CM_OPTFLASH, VIRTKEY
 "Z", CM_OPTUNDO, CONTROL, VIRTKEY
 VK_INSERT, CM_NETADD, VIRTKEY
 VK_DELETE, CM_NETDEL, VIRTKEY
 "A", CM_FILESAVEAS, VIRTKEY, CONTROL
}


STRINGTABLE 
{
 CM_FILEEXIT, "Quit the Virtual Etch-A-Sketch"
 CM_FILESAVEAS, "Save the current picture with a new name"
 CM_FILESAVE, "Save the current picture"
 CM_FILEOPEN, "Open a previously-saved picture"
 CM_FILENEW, "Erase the picture and begin a new one"
 CM_OPTREF, "Refresh the screen"
 CM_OPTUNDO, "Undo the most recent action"
 CM_HELPCONTENTS, "Load any available help information"
 CM_HELPABOUT, "Show information about the Virtual Etch-A-Sketch"
 CM_OPTCENTER, "Centers the cursor for each new file"
 CM_OPTFLASH, "Force the cursor's current position to blink"
 CM_OPTSHAKE, "Shakes the Etch-A-Sketch when clearing the screen"
}


